<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rabbitMq" type="RabbitMQUtil.Configuration.RabbitMqConfigSection, RabbitMQUtil"/>
  </configSections>
  <appSettings>
    <add key="RabbitMq.Host" value="localhost"/>
  </appSettings>
  <rabbitMq>
    <endpoints>
      <add name="testendpoint" virtualHost="vhost" routingKey="testqueue" pubSubType="Subscribe"></add>
      <add name="noAckIsSet" routingKey="testqueue2" pubSubType="Subscribe">
        <subscription queueName="asdf" noAck="true"></subscription>
      </add>
      <add name="exchangeNameIsSet" routingKey="testqueue3" pubSubType="Subscribe">
        <exchange name="ex1"></exchange>
      </add>
      <add name="pubSubTypeIsSubscribe" routingKey="" pubSubType="Subscribe"></add>
      <add name="exchangeTypeIsFanout" routingKey="" pubSubType="Publish">
        <exchange name="ex1" type="Fanout"></exchange>
      </add>
      <add name="endpointWithExchange" virtualHost="vhost" routingKey="sdf" pubSubType="Subscribe">
        <exchange name="ex1" type="Fanout"></exchange>
      </add>
      <add name="pubSubTypeIsPublish" pubSubType="Publish"></add>
      <add name="subscriptionWithExchangeBindings" pubSubType="Subscribe">
        <subscription queueName="asdf" noAck="true">
          <exchangeBindings>
            <add name="e1" type="Fanout" routingKey="r1" declareExchange="true"></add>
          </exchangeBindings>
        </subscription>
      </add>
      <add name="subscriptionWithExchangeBindingWhereDeclareExchangeIsMissing" pubSubType="Subscribe">
        <subscription queueName="asdf" noAck="true">
          <exchangeBindings>
            <add name="e1" type="Fanout" routingKey="r1"></add>
          </exchangeBindings>
        </subscription>
      </add>
      <add name="errorConfigIsSet" routingKey="testqueue2" pubSubType="Subscribe">
        <subscription queueName="asdf" noAck="true">
          <errorConfig errorQueueName="error.queue" enableErrorQueue="true"></errorConfig>
        </subscription>
      </add>
      <add name="hostAndUserData" host="localhost" port="123" user="usr" password ="pwd" pubSubType="Subscribe">
        <subscription queueName="asdf" noAck="true">
          <errorConfig errorQueueName="error.queue" enableErrorQueue="true"></errorConfig>
        </subscription>
      </add>
    </endpoints>
  </rabbitMq>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
